# Submission instructions 

All code that you write should be in this notebook.
Submit:

* This notebook with your code added. Make sure to add enough documentation.
* A short report, max 2 pages including any figures and/or tables (it is likely that you won't need the full 2 pages). Use [this template](https://www.overleaf.com/read/mvskntycrckw). 
* The deadline is Monday 17th of May, 17.00.

For questions, make use of the "Lab" session (see schedule).
Questions can also be posted to the MS teams channel called "Lab".

# Installing AIF360

In this assignment, we're going to use the AIF360 library.
For documentation, take a look at:

    * https://aif360.mybluemix.net/
    * https://aif360.readthedocs.io/en/latest/ (API documentation)
    * https://github.com/Trusted-AI/AIF360 Installation instructions

We recommend using a dedicated Python environment for this assignment, for example
by using Conda (https://docs.conda.io/en/latest/).
You could also use Google Colab (https://colab.research.google.com/).

When installing AIF360, you only need to install the stable, basic version (e.g., pip install aif360)
You don't need to install the additional optional dependencies.

The library itself provides some examples in the GitHub repository, see:
https://github.com/Trusted-AI/AIF360/tree/master/examples.

**Notes**
* The lines below starting with ! can be used in Google Colab by commenting them out, or in your console
* The first time you're running the import statements, you may get a warning "No module named tensorflow".
  This can be ignored--we don't need it for this assignment. Just run the code block again, and it should disappear

In [20]:
# !pip install aif360[all]

In [3]:
# !pip install aif360
# !pip install fairlearn|
from aif360.algorithms.preprocessing.optim_preproc_helpers.data_preproc_functions\
        import load_preproc_data_compas

from aif360.metrics import BinaryLabelDatasetMetric

# Exploring the data

**COMPAS dataset**

In this assignment we're going to use the COMPAS dataset.

If you haven't done so already, take a look at this article: https://www.propublica.org/article/machine-bias-risk-assessments-in-criminal-sentencing.
For background on the dataset, see https://www.propublica.org/article/how-we-analyzed-the-compas-recidivism-algorithm

**Reading in the COMPAS dataset**

The AIF360 library has already built in code to read in this dataset.
However, you'll first need to manually download the COMPAS dataset 
and put it into a specified directory. 
See: https://github.com/Trusted-AI/AIF360/blob/master/aif360/data/raw/compas/README.md.
If you try to load in the dataset for the first time, the library will give you instructions on the steps to download the data.

The protected attributes in this dataset are 'sex' and 'race'. 
For this assignment, we'll only focus on race.

The label codes recidivism, which they defined as a new arrest within 2 years. 
Note that in this dataset, the label is coded with 1 being the favorable label.

In [4]:
# !wget -c https://raw.githubusercontent.com/propublica/compas-analysis/master/compas-scores-two-years.csv
# !mv compas-scores-two-years.csv data/compas-scpre

compas_data = load_preproc_data_compas(protected_attributes=['race'])

Now let's take a look at the data:

In [5]:
compas_data

               instance weights features                                       \
                                         protected attribute
                                     sex                race age_cat=25 to 45
instance names
3                           1.0      0.0                 0.0              1.0
4                           1.0      0.0                 0.0              0.0
8                           1.0      0.0                 1.0              1.0
10                          1.0      1.0                 1.0              1.0
14                          1.0      0.0                 1.0              1.0
...                         ...      ...                 ...              ...
10994                       1.0      0.0                 0.0              1.0
10995                       1.0      0.0                 0.0              0.0
10996                       1.0      0.0                 0.0              0.0
10997                       1.0      0.0                 0.0              0.0
11000                       1.0      1.0                 0.0              1.0

                                                                            \

               age_cat=Greater than 45 age_cat=Less than 25 priors_count=0
instance names
3                                  0.0                  0.0            1.0
4                                  0.0                  1.0            0.0
8                                  0.0                  0.0            0.0
10                                 0.0                  0.0            1.0
14                                 0.0                  0.0            1.0
...                                ...                  ...            ...
10994                              0.0                  0.0            1.0
10995                              0.0                  1.0            1.0
10996                              0.0                  1.0            1.0
10997                              0.0                  1.0            1.0
11000                              0.0                  0.0            0.0

                                                                               \

               priors_count=1 to 3 priors_count=More than 3 c_charge_degree=F
instance names
3                              0.0                      0.0               1.0
4                              0.0                      1.0               1.0
8                              0.0                      1.0               1.0
10                             0.0                      0.0               0.0
14                             0.0                      0.0               1.0
...                            ...                      ...               ...
10994                          0.0                      0.0               0.0
10995                          0.0                      0.0               1.0
10996                          0.0                      0.0               1.0
10997                          0.0                      0.0               1.0
11000                          1.0                      0.0               0.0

                                 labels

               c_charge_degree=M
instance names
3                            0.0    1.0
4                            0.0    1.0
8                            0.0    1.0
10                           1.0    0.0
14                           0.0    0.0
...                          ...    ...
10994                        1.0    1.0
10995                        0.0    0.0
10996                        0.0    0.0
10997                        0.0    0.0
11000                        1.0    0.0

[5278 rows x 12 columns]

**Creating a train and test split**

We'll create a train (80%) and test split (20%). 

Note: *Usually when carrying out machine learning experiments,
we also need a dev set for developing and selecting our models (incl. tuning of hyper-parameters).
However, in this assignment, the goal is not to optimize 
the performance of models so we'll only use a train and test split.*

Note: *due to random division of train/test sets, the actual output in your runs may slightly differ with statistics showing in the rest of this notebook.*

In [6]:
train_data, test_data = compas_data.split([0.8], shuffle=True)

In this assignment, we'll focus on protected attribute: race.
This is coded as a binary variable with "Caucasian" coded as 1 and "African-American" coded as 0.

In [7]:
priv_group   = [{'race': 1}]  # Caucasian
unpriv_group = [{'race': 0}]  # African-American

Now let's look at some statistics:

In [8]:
print("Training set shape: %s, %s" % train_data.features.shape)
print("Favorable (not recid) and unfavorable (recid) labels: %s; %s" % (train_data.favorable_label, train_data.unfavorable_label))
print("Protected attribute names: %s" % train_data.protected_attribute_names)
# labels of privileged (1) and unprovileged groups (0)
print("Privileged (Caucasian) and unprivileged (African-American) protected attribute values: %s, %s" % (train_data.privileged_protected_attributes, 
      train_data.unprivileged_protected_attributes))
print("Feature names: %s" % train_data.feature_names)

Training set shape: 4222, 10
Favorable (not recid) and unfavorable (recid) labels: 0.0; 1.0
Protected attribute names: ['race']
Privileged (Caucasian) and unprivileged (African-American) protected attribute values: [array([1.])], [array([0.])]
Feature names: ['sex', 'race', 'age_cat=25 to 45', 'age_cat=Greater than 45', 'age_cat=Less than 25', 'priors_count=0', 'priors_count=1 to 3', 'priors_count=More than 3', 'c_charge_degree=F', 'c_charge_degree=M']

Now, let's take a look at the test data and compute the following difference:

$$ùëÉ(ùëå=favorable|ùê∑=unprivileged)‚àíùëÉ(ùëå=favorable|ùê∑=privileged)$$

In [9]:
metric_test_data = BinaryLabelDatasetMetric(test_data, 
                             unprivileged_groups = unpriv_group,
                             privileged_groups   = priv_group)
print("Mean difference (statistical parity difference) = %f" % 
      metric_test_data.statistical_parity_difference())

Mean difference (statistical parity difference) = -0.158849

To be clear, because we're looking at the original label distribution this is the base rate difference between the two groups

In [10]:
metric_test_data.base_rate(False)  # Base rate of the unprivileged group

0.456

In [11]:
metric_test_data.base_rate(True)   # Base rate of the privileged group

0.6148491879350348

To explore the data, it can also help to convert it to a dataframe.
Note that we get the same numbers as the reported base rates above,
but because when calculating base rates the favorable label is taken (which is actually 0),  it's 1-...

In [12]:
test_data.convert_to_dataframe()[0].groupby(['race'])['two_year_recid'].describe()

      count      mean       std  min  25%  50%  75%  max
race
0.0   625.0  0.544000  0.498459  0.0  0.0  1.0  1.0  1.0
1.0   431.0  0.385151  0.487196  0.0  0.0  0.0  1.0  1.0

In [13]:
train_data.convert_to_dataframe()[0].groupby(['race'])['two_year_recid'].describe()

       count      mean       std  min  25%  50%  75%  max
race
0.0   2550.0  0.518039  0.499772  0.0  0.0  1.0  1.0  1.0
1.0   1672.0  0.392344  0.488419  0.0  0.0  0.0  1.0  1.0

In [14]:
train_data.convert_to_dataframe()[0].groupby(['sex'])['two_year_recid'].describe()

      count      mean       std  min  25%  50%  75%  max
sex
0.0  3397.0  0.493965  0.500037  0.0  0.0  0.0  1.0  1.0
1.0   825.0  0.362424  0.480992  0.0  0.0  0.0  1.0  1.0

In [15]:
train_data.convert_to_dataframe()[0].groupby(['sex','race'])['two_year_recid'].describe()

           count      mean       std  min  25%  50%  75%  max
sex race
0.0 0.0   2111.0  0.550924  0.497518  0.0  0.0  1.0  1.0  1.0
    1.0   1286.0  0.400467  0.490184  0.0  0.0  0.0  1.0  1.0
1.0 0.0    439.0  0.359909  0.480521  0.0  0.0  0.0  1.0  1.0
    1.0    386.0  0.365285  0.482135  0.0  0.0  0.0  1.0  1.0

In [16]:
test_data.convert_to_dataframe()[0].groupby(['sex','race'])['two_year_recid'].describe()

          count      mean       std  min  25%  50%  75%  max
sex race
0.0 0.0   515.0  0.572816  0.495150  0.0  0.0  1.0  1.0  1.0
    1.0   335.0  0.408955  0.492376  0.0  0.0  0.0  1.0  1.0
1.0 0.0   110.0  0.409091  0.493916  0.0  0.0  0.0  1.0  1.0
    1.0    96.0  0.302083  0.461571  0.0  0.0  0.0  1.0  1.0

In [17]:
compas_data.convert_to_dataframe()[0].groupby(['sex','race'])['two_year_recid'].describe()

           count      mean       std  min  25%  50%  75%  max
sex race
0.0 0.0   2626.0  0.555217  0.497036  0.0  0.0  1.0  1.0  1.0
    1.0   1621.0  0.402221  0.490497  0.0  0.0  0.0  1.0  1.0
1.0 0.0    549.0  0.369763  0.483181  0.0  0.0  0.0  1.0  1.0
    1.0    482.0  0.352697  0.478306  0.0  0.0  0.0  1.0  1.0

In [18]:
compas_data.convert_to_dataframe()[0].describe()

,sex,race,age_cat=25 to 45,age_cat=Greater than 45,age_cat=Less than 25,priors_count=0,priors_count=1 to 3,priors_count=More than 3,c_charge_degree=F,c_charge_degree=M,two_year_recid
count,5278.000000,5278.000000,5278.000000,5278.000000,5278.000000,5278.000000,5278.000000,5278.000000,5278.000000,5278.000000,5278.000000
mean,0.195339,0.398446,0.573323,0.207654,0.219022,0.315839,0.370027,0.314134,0.651762,0.348238,0.470443
std,0.396499,0.489625,0.494641,0.405666,0.413623,0.464893,0.482857,0.464214,0.476457,0.476457,0.499173
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
75%,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [19]:
print('Test data size:',len(test_data.convert_to_dataframe()[0].index))
print('Train data size:',len(train_data.convert_to_dataframe()[0].index))

Test data size: 1056
Train data size: 4222

**Report**

Report basic statistics in your report, such as the size of the training and test set.

Now let's explore the *training* data further.
In your report include a short analysis of the training data. Look at the base rates of the outcome variable (two year recidivism) for the combination of both race and sex categories. What do you see?

# Classifiers

**Training classifiers**

Now, train the following classifiers:

1. A logistic regression classifier making use of all features 
2. A logistic regression classifier without the race feature
3. A classifier after reweighting instances in the training set https://aif360.readthedocs.io/en/latest/modules/generated/aif360.algorithms.preprocessing.Reweighing.html.
    * Report the weights that are used for reweighing and a short interpretation/discussion.
4. A classifier after post-processing 
https://aif360.readthedocs.io/en/latest/modules/generated/aif360.algorithms.postprocessing.EqOddsPostprocessing.html#aif360.algorithms.postprocessing.EqOddsPostprocessing 

For training the classifier we recommend using scikit-learn (https://scikit-learn.org/stable/).
AIF360 contains a sklearn wrapper, however that one is in development and not complete.
We recommend using the base AIF360 library, and not their sklearn wrapper.

**Report**

For each of these classifiers, report the following:
* Overall precision, recall, F1 and accuracy.
* The statistical parity difference. Does this classifier satisfy statistical parity? How does this difference compare to the original dataset?
* Difference of true positive rates between the two groups. Does the classifier satisfy the equal opportunity criterion?

## A logistic regression classifier making use of all features

In [25]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import precision_score,recall_score,accuracy_score,f1_score,confusion_matrix
from aif360.datasets import BinaryLabelDataset

# Extract the two dfs from the data
train_df_baseline = train_data.convert_to_dataframe()[0]
test_df_baseline = test_data.convert_to_dataframe()[0]

# Devide into X and y train and test
X_train_b = train_df_baseline[train_df_baseline.columns[:-1]]
y_train_b = train_df_baseline[train_df_baseline.columns[-1]]
X_test_b = test_df_baseline[test_df_baseline.columns[:-1]]
y_test_b = test_df_baseline[test_df_baseline.columns[-1]]

# Fit LR classfier on the training data
lr_model_baseline = LogisticRegression(random_state=0).fit(X_train_b,y_train_b)
# Predict on the test data
predictions_baseline = lr_model_baseline.predict(X_test_b)

# Print out metrics
print('f1:',f1_score(y_test_b,predictions_baseline))
print('recall:',recall_score(y_test_b,predictions_baseline))
print('accuracy:',accuracy_score(y_test_b,predictions_baseline))
print('precision:',precision_score(y_test_b,predictions_baseline))

# Calculate dfs seperated by race
y_test_0 = y_test_b.loc[X_test_b['race'] == 0.0]
y_test_0_pred = predictions_baseline[tuple([X_test_b['race'] == 0.0])]
y_test_1 = y_test_b.loc[X_test_b['race'] == 1.0]
y_test_1_pred = predictions_baseline[tuple([X_test_b['race'] == 1.0])]

# Use confusion matrix to calculate true positives and negatives for both races
cm0 = confusion_matrix(y_test_0, y_test_0_pred)
TP0 = cm0[1][1]
TN0 = cm0[1][0]
FP0 = cm0[0][1]
FN0 = cm0[0][0]
cm1 = confusion_matrix(y_test_1, y_test_1_pred)
TP1 = cm1[1][1]
TN1 = cm1[1][0]
FP1 = cm1[0][1]
FN1 = cm1[0][0]
TPR0 = TP0 / (TP0 + FP0)
TPR1 = TP1 / (TP1 + FP1)

print("True positives 0:",TP0,'rate:',str(round(TP0*100/(TP0+TN0),2))+'%')
print("True positives 1:",TP1,'rate:',str(round(TP1*100/(TP1+TN1),2))+'%')

f1: 0.6100966702470462
recall: 0.5612648221343873
accuracy: 0.65625
precision: 0.668235294117647
True positives 0: 227 rate: 66.76%
True positives 1: 57 rate: 34.34%

### Statistical parity

In [29]:
priv_group   = [{'race': 1}]  # Caucasian
unpriv_group = [{'race': 0}]  # African-American
X_test_b['two_year_recid'] = predictions_baseline
# Generate a Binary label dataset with inserted predictions
bld_test = BinaryLabelDataset(favorable_label=1.0, unfavorable_label=0.0,df=X_test_b,label_names=['two_year_recid'],protected_attribute_names=['race'])
# Generate a binarly label dataset metrics using the bld
metric_test_data = BinaryLabelDatasetMetric(bld_test, 
                             unprivileged_groups = unpriv_group,
                             privileged_groups   = priv_group)
# print out statiscial parity
print("Mean difference (statistical parity difference) = %f" % 
      metric_test_data.statistical_parity_difference())
TPrate0 = round(TP0*100/(TP0+TN0),2)
TPrate1 = round(TP1*100/(TP1+TN1),2)
print("Equal opportunity metric = %f" %
      (TPR1 /TPR0))

Mean difference (statistical parity difference) = 0.256620
Equal opportunity metric = 0.737029

## A logistic regression classifier without the race feature

In [30]:
# Extract dataframes from the data but remove the race column
train_df = train_data.convert_to_dataframe()[0]
test_df = test_data.convert_to_dataframe()[0]
columns_without_race = train_df.columns[2:-1]
columns_without_race =columns_without_race.insert(0,train_df.columns[0])

In [31]:
# split data into train and test and x and y
X_train_wo_race = train_df[columns_without_race]
y_train_wo_race = train_df[train_df.columns[-1]]
X_test_wo_race = test_df[columns_without_race]
y_test_wo_race = test_df[test_df.columns[-1]]

# Fit LR classfier on the training data
lr_model = LogisticRegression(random_state=0).fit(X_train_wo_race,y_train_wo_race)

# Predict on the test data
predictions = lr_model.predict(X_test_wo_race)

# Print out metrics
print('f1:',f1_score(y_test_wo_race,predictions))
print('recall:',recall_score(y_test_wo_race,predictions))
print('accuracy:',accuracy_score(y_test_wo_race,predictions))
print('precision:',precision_score(y_test_wo_race,predictions))

# Calculate dfs seperated by race
y_test_0 = y_test_wo_race.loc[X_test_b['race'] == 0.0]
y_test_0_pred = predictions[tuple([X_test_b['race'] == 0.0])]
y_test_1 = y_test_wo_race.loc[X_test_b['race'] == 1.0]
y_test_1_pred = predictions[tuple([X_test_b['race'] == 1.0])]

# Use confusion matrix to calculate true positives and negatives for both races
cm0 = confusion_matrix(y_test_0, y_test_0_pred)
TP0 = cm0[1][1]
TN0 = cm0[1][0]
FP0 = cm0[0][1]
cm1 = confusion_matrix(y_test_1, y_test_1_pred)
TP1 = cm1[1][1]
TN1 = cm1[1][0]
FP1 = cm1[0][1]

TPR0 = (TP0 / (TP0 + FP0))
TPR1 = (TP1/ (TP1 + FP1))

print("True positives 0:",TP0,'rate:',str(round(TP0*100/(TP0+TN0),2))+'%')
print("True positives 1:",TP1,'rate:',str(round(TP1*100/(TP1+TN1),2))+'%')

f1: 0.6079484425349088
recall: 0.5592885375494071
accuracy: 0.6543560606060606
precision: 0.6658823529411765
True positives 0: 226 rate: 66.47%
True positives 1: 57 rate: 34.34%

### Statistical parity

In [32]:
priv_group   = [{'race': 1}]  # Caucasian
unpriv_group = [{'race': 0}]   # African-American
X_test_b['two_year_recid'] = predictions
# Generate a Binary label dataset with inserted predictions
bld_test = BinaryLabelDataset(favorable_label=1.0, unfavorable_label=0.0,df=X_test_b,label_names=['two_year_recid'],protected_attribute_names=['race'])
# Generate a binarly label dataset metrics using the bld
metric_test_data = BinaryLabelDatasetMetric(bld_test, 
                             unprivileged_groups = unpriv_group,
                             privileged_groups   = priv_group)
# print out statiscial parity
print("Mean difference (statistical parity difference) = %f" % 
      metric_test_data.statistical_parity_difference())
print("Equal opportunity measure = %f" %
     (TPR1 / TPR0))

Mean difference (statistical parity difference) = 0.252700
Equal opportunity measure = 0.731185

## A classifier after reweighting instances in the training set

In [33]:
from aif360.algorithms.preprocessing import Reweighing

privileged_group = [{'race':1}]
unprivileged_group = [{'race':0}]
# Instantiate reweiging from AIF360 with the priv and unpriv groups
rw = Reweighing(unprivileged_group,privileged_group)

# fit and transform the training data to generate instance weights
rw_train_data = rw.fit_transform(train_data)
# Convert data to a dataframe for training
rw_train_df = rw_train_data.convert_to_dataframe()[0]

# split data into train and test and x and y
test_df = test_data.convert_to_dataframe()[0]
X_train_rw = rw_train_df[rw_train_df.columns[:-1]]
y_train_rw = rw_train_df[rw_train_df.columns[-1]]
X_test = test_df[test_df.columns[:-1]]
y_test = test_df[test_df.columns[-1]]

# Extract instance weights
instance_weights = rw_train_data.convert_to_dataframe()[1]['instance_weights']

# Train LR model on the training data and passing the instance weights to boost fairness
lr_model_rw = LogisticRegression(random_state=0).fit(X_train_rw,y_train_rw,instance_weights)
# predict on the test set
predictions = lr_model_rw.predict(X_test)

# Print out the metrics
print('f1:',f1_score(y_test,predictions))
print('recall:',recall_score(y_test,predictions))
print('accuracy:',accuracy_score(y_test,predictions))
print('precision:',precision_score(y_test,predictions))

# Calculate dfs seperated by race
y_test_0 = y_test.loc[X_test['race'] == 0.0]
y_test_0_pred = predictions[tuple([X_test['race'] == 0.0])]
y_test_1 = y_test.loc[X_test['race'] == 1.0]
y_test_1_pred = predictions[tuple([X_test['race'] == 1.0])]

# Use confusion matrix to calculate true positives and negatives for both races
cm0 = confusion_matrix(y_test_0, y_test_0_pred)
TP0 = cm0[1][1]
TN0 = cm0[1][0]
FP0 = cm0[0][1]

cm1 = confusion_matrix(y_test_1, y_test_1_pred)

TP1 = cm1[1][1]
TN1 = cm1[1][0]
FP1 = cm1[0][1]

TPR0 = TP0 / (TP0 + FP0)
TPR1 = TP1 / (TP1 + FP1)

print("True positives 0:",TP0,'rate:',str(round(TP0*100/(TP0+TN0),2))+'%')
print("True positives 1:",TP1,'rate:',str(round(TP1*100/(TP1+TN1),2))+'%')

f1: 0.64
recall: 0.6324110671936759
accuracy: 0.6590909090909091
precision: 0.6477732793522267
True positives 0: 224 rate: 65.88%
True positives 1: 96 rate: 57.83%

### Statistical parity

In [35]:
priv_group   = [{'race': 1}]  # Caucasian
unpriv_group = [{'race': 0}]  # African-American
X_test['two_year_recid'] = predictions
# Generate a Binary label dataset with inserted predictions
bld_test = BinaryLabelDataset(favorable_label=1.0, unfavorable_label=0.0,df=X_test,label_names=['two_year_recid'],protected_attribute_names=['race'])
# Generate a binarly label dataset metrics using the bld
metric_test_data = BinaryLabelDatasetMetric(bld_test, 
                             unprivileged_groups = unpriv_group,
                             privileged_groups   = priv_group)
# print out statiscial parity
print("Mean difference (statistical parity difference) = %f" % 
      metric_test_data.statistical_parity_difference())
print("Equal opportunity measure = %f" %
     (TPR1 / TPR0))

Mean difference (statistical parity difference) = 0.084767
Equal opportunity measure = 0.747619

## A classifier after post-processing

In [36]:
from aif360.algorithms.postprocessing import EqOddsPostprocessing


privileged_group = [{'race':1}]
unprivileged_group = [{'race':0}]
# Instantiate EqOddsPostprocessing with the priv and unpriv groups
pp = EqOddsPostprocessing(unprivileged_group,privileged_group)

# convert training data to a dataframe
train_dfpp = train_data.convert_to_dataframe()[0]
# Generate predcitions from the baseline model
predictions = lr_model_baseline.predict(train_dfpp[train_dfpp.columns[:-1]])
# add predcitions to a copy of the training df
new_train_dfpp = train_data.convert_to_dataframe()[0]
new_train_dfpp['two_year_recid'] = predictions

# Convert both training dataframes to binary label datasets
bld_train_true = BinaryLabelDataset(favorable_label=1.0, unfavorable_label=0.0,df=train_dfpp,label_names=['two_year_recid'],protected_attribute_names=['race'])
bld_train_pred = BinaryLabelDataset(favorable_label=1.0, unfavorable_label=0.0,df=new_train_dfpp,label_names=['two_year_recid'],protected_attribute_names=['race'])


# Generate a testing bld
bld_test = BinaryLabelDataset(favorable_label=1.0, unfavorable_label=0.0,df=test_df,label_names=['two_year_recid'],protected_attribute_names=['race'])

# Fit the post proccessing on the training sets
pp = pp.fit(bld_train_true,bld_train_pred)

# Make predictions using the PP on the test set
predictions = pp.predict(bld_test).convert_to_dataframe()[0]['two_year_recid'].values



# Print out the metrics
print('f1:',f1_score(y_test_b,predictions))
print('recall:',recall_score(y_test_b,predictions))
print('accuracy:',accuracy_score(y_test_b,predictions))
print('precision:',precision_score(y_test_b,predictions))

# Devide the test results by race
y_test_0 = y_test_b.loc[X_test['race'] == 0.0]
y_test_0_pred = predictions[tuple([X_test['race'] == 0.0])]
y_test_1 = y_test_b.loc[X_test['race'] == 1.0]
y_test_1_pred = predictions[tuple([X_test['race'] == 1.0])]

# Use confusion matrices to generate the TP and TN data
cm0 = confusion_matrix(y_test_0, y_test_0_pred)
TP0 = cm0[1][1]
TN0 = cm0[1][0]
FP0 = cm0[0][1]
cm1 = confusion_matrix(y_test_1, y_test_1_pred)
TP1 = cm1[1][1]
TN1 = cm1[1][0]
FP1 = cm1[0][1]

TPR0 = TP0 / (TP0 + FP0)
TPR1 = TP1 / (TP1 + FP1)

# Print the true positive rate for both classes
print("True positives 0:",TP0,'rate:',str(round(TP0*100/(TP0+TN0),2))+'%')
print("True positives 1:",TP1,'rate:',str(round(TP1*100/(TP1+TN1),2))+'%')

f1: 0.8794926004228331
recall: 0.8221343873517787
accuracy: 0.8920454545454546
precision: 0.9454545454545454
True positives 0: 250 rate: 73.53%
True positives 1: 166 rate: 100.0%

### Statistical parity

In [37]:
priv_group   = [{'race': 1}]  # Caucasian
unpriv_group = [{'race': 0}]  # African-American

df = bld_test.convert_to_dataframe()[0]
df['two_year_recid'] = predictions
# Generate a Binary label dataset with inserted predictions
bld_test = BinaryLabelDataset(favorable_label=1.0, unfavorable_label=0.0,df=df,label_names=['two_year_recid'],protected_attribute_names=['race'])
# Generate a binarly label dataset metrics using the bld

metric_test_data = BinaryLabelDatasetMetric(bld_test, 
                             unprivileged_groups = unpriv_group,
                             privileged_groups   = priv_group)
# print out statiscial parity
print("Mean difference (statistical parity difference) = %f" % 
      metric_test_data.statistical_parity_difference())
print("Equal opportunity measure = %f" %
     (TPR1 / TPR0))

Mean difference (statistical parity difference) = -0.040835
Equal opportunity measure = 0.873684

# Discussion

**Report**
* Shortly discuss your results. For example, how do the different classifiers compare against each other? 
* Also include a short ethical discussion (1 or 2 paragraphs) reflecting on these two aspects: 1) The use of a ML system to try to predict recidivism; 2) The public release of a dataset like this.